
.logo-white, .logo-orange {
    padding: 10px 0;
    text-indent:-999px;
    background: #c7c6c5 url('../images/logo-white.png') padding-box no-repeat center/90%;
}
/*common-logo*/
footer {
    padding: 20px 10px;
    background: #4d4948;
    overflow: hidden;
}
.nav-footer{
    overflow: hidden;
    li{
        font-size: 14px;
        padding: 0 10px;
        float: left;
        line-height: 16px;
        margin-bottom: 20px;
        border-right: solid 1px #fff;
    }
    &:nth-child(4), &:nth-child(7){
        border:none;
    }
    a{
        color:#fff;
    }
    address{
        width: 90%;
        padding: 0 5%;
    }
}

address ul{
    float: left;
    padding-left: 10px;
    li{
        font-size: 14px;
        line-height: 26px;
        color:#fff;
    }
    li:first-child{
        background: url("../images/weibo.png") padding-box no-repeat left center/10%;
        text-indent: 30px;
    }
    li:nth-child(2){
        background: url("../images/phone.png") no-repeat left center/10%;
        text-indent: 30px;
    }
}
address img{
    float: right;
    width: 26%;
}
/*common-footer*/

